include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/stomallorca_theme *.html *.json *.js *.less *.css *.mo *.yml *.yaml *.png
recursive-include ckanext/stomallorca_theme/migration *.ini *.py *.mako
