include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/stomallorca *.html *.json *.js *.less *.css *.mo *.yml *.yaml *.png
recursive-include ckanext/stomallorca/migration *.ini *.py *.mako
