<div class="container-fluid headerckan">
	<div class=" container mx-auto p-0">
		<div class="row">
			<div class="col align-self-start pt-3 columnaUno">
				<a href="https://www.facebook.com/MallorcaTourism/"><img src="{{ h.url_for_static('/stomallorca/images/facebook.png') }}" alt="facebook" title="Síguenos en Facebook"></a>
				<a href="https://twitter.com/MALLORCATOURISM"><img src="{{ h.url_for_static('/stomallorca/images/twitter.png') }}" alt="twitter" title="Síguenos en Twitter"></a>
				<a href="https://www.youtube.com/c/MallorcaTourism/featured"><img src="{{ h.url_for_static('/stomallorca/images/youtube.png') }}" alt="youtube" title="Síguenos en Youtube"></a>
				<a href="https://www.linkedin.com/company/fundacio-mallorca-turisme/?original_referer="><img src="{{ h.url_for_static('/stomallorca/images/linkedin.png') }}" alt="linkedin" title="Síguenos en Linkedin"></a>
			</div>
			<div class="col pt-3">
				{% block footer_lang %}
					{% snippet "snippets/language_selector.html" %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
